.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid red;
}

.navlinks {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.navlink {
    color: var(--text-secondary);
    font-weight: 500;
    position: relative;
    transition: all 0.3s;
    &:hover{
        color: var(--color-primary);
    }
}
.navlink.active_link{
    color: var(--color-primary);
    // &::after{
    //     content: '';
    //     width: 8px;
    //     height: 8px;
    //     background-color: var(--color-primary);
    //     border-radius: 100%;
    //     position: absolute;
    //     left: 50%;
    //     top: 100%;
    //     transform: translateX(-50%);
    // }
}

.logo {
    >a {
        color: var(--black);
        font-weight: 600;
    }

    margin: 0 3rem;
}

.menu_icon {
    display: none;
}

@media (max-width: 700px) {
    .navlinks {
        display: none;
    }

    .menu_icon {
        display: block;
        // width: 35px;
        // height: 35px;
        // font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s;

        >svg {
            color: var(--text-secondary);
            width: 45px;
            height: 45px;
        }
    }

    .navbar {
        justify-content: flex-start;
    }

    .logo {
        margin: 0 auto;
    }
}

// @media (max-width: 500px) {
//     .navbar {
//         height: 60px;
//     }
// }

@media (max-width: 400px) {
    .menu_icon{
        >svg{
            width: 40px;
            height: 40px;
        }
    }
}