.heading_wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.map_images {
    position: relative;
}

.card_img_container {
    width: 100%;
    height: 540px;
    position: relative;
    overflow: hidden;
    z-index: -99;

    >img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }
}

.location {
    position: absolute;
    border: 4px solid #005F31;
    border-radius: 100%;

    &::after {
        content: '';
        width: 14px;
        height: 14px;
        background: #005F31;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);
        clip-path: polygon(50% 100%, 6.7% 25%, 93.3% 25%);
    }

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
    }
}

.location.location1 {
    top: 23.5%;
    left: 39.5%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    transition: all 0.3s ease;

    &:hover {
        scale: 1.1;
        margin-left: 5px;
    }
}

.location.location2 {
    top: 32.5%;
    left: 35%;
    transform: translateX(-50%);
    width: 95px;
    height: 95px;
    transition: all 0.3s ease;

    &:hover {
        scale: 1.1;
        margin-left: 4px;
    }
}

.location.location3 {
    bottom: 9%;
    left: 56.5%;
    width: 95px;
    height: 95px;
    transition: all 0.3s ease;

    &:hover {
        scale: 1.1;
    }
}


@media (min-width: 1450px) {
    .location.location1 {
        left: 40.5%;
    }

    .location.location2 {
        top: 32%;
        left: 36.5%;
    }
    .location.location3 {
        left: 56%;
    }
}

@media (min-width: 1650px) {
    .location.location1 {
        top: 23%;
        left: 41.5% !important;
    }

    .location.location2 {
        top: 31%;
        left: 38% !important;
    }
    .location.location3 {
        left: 55%;
    }
}





@media (min-width: 1750px) {
    .location.location1 {
        top: 23%;
        left: 42% !important;
    }

    .location.location2 {
        top: 30.5%;
        left: 38.5% !important;
    }
}





@media (min-width: 2000px) {
    .location.location1 {
        left: 43% !important;
    }
    .location.location2 {
        top: 31.3%;
        left: 40% !important;
    }
    .location.location3 {
        left: 54.2%;
    }
}

@media (min-width: 2700px) {
    .location.location1 {
        top: 23.4%;
        left: 44.75% !important;
    }
    .location.location2 {
        top: 32%;
        left: 42.5% !important;
    }
    .location.location3 {
        left: 53%;
    }
}
@media (min-width: 4000px) {
    .location.location1 {
        left: 46.5% !important;
    }
    .location.location2 {
        left: 45% !important;
    }
    .location.location3 {
        left: 52.2%;
    }
}
@media (min-width: 5400px) {
    .location.location1 {
        left: 47.35% !important;
    }
    .location.location2 {
        top: 31.5%;
        left: 46.2% !important;
    }
    .location.location3 {
        bottom: 8.6%;
        left: 51.6%;
    }
}



@media (max-width: 1320px) {
    .location.location1 {
        left: 39%;
    }
    
    .location.location2 {
        left: 34.5%;
    }
    
}

@media (max-width: 1260px) {
    .location.location1 {
        left: 38.5%;
    }
    
    .location.location2 {
        left: 33.5%;
    }
    
}

@media (max-width: 1200px) {
    .location.location1 {
        left: 38%;
    }
    
    .location.location2 {
        left: 33%;
    }
    
    .location.location3 {
        left: 57%;
    }
}

@media (max-width: 1150px) {
    .location.location1 {
        left: 37.3%;
    }
    
    .location.location2 {
        left: 32.3%;
    }
    
}
@media (max-width: 1100px) {
    .location.location1 {
        left: 36.5%;
    }
    
    .location.location2 {
        top: 32%;
        left: 31%;
    }
    
    .location.location3 {
        left: 58%;
    }
}
@media (max-width: 1040px) {
    .location.location1 {
        left: 35.5%;
    }
    
    .location.location2 {
        top: 32%;
        left: 30%;
    }
    
    .location.location3 {
        left: 58.5%;
    }
}
@media (max-width: 980px) {
    .location.location1 {
        left: 35%;
    }
    
    .location.location2 {
        top: 32%;
        left: 28%;
    }
    
    .location.location3 {
        left: 59%;
    }
}
@media (max-width: 920px) {
    .location.location1 {
        left: 34%;
    }
    
    .location.location2 {
        left: 27%;
    }
    
}
@media (max-width: 860px) {
    .location.location1 {
        left: 32.5%;
    }
    
    .location.location2 {
        left: 25.5%;
    }
    
    .location.location3 {
        left: 60.5%;
    }
}
@media (max-width: 800px) {
    .location.location1 {
        left: 31.5%;
    }
    
    .location.location2 {
        left: 24%;
    }
}
@media (max-width: 750px) {
    .location.location1 {
        left: 30%;
    }
    
    .location.location2 {
        left: 21.5%;
    }
    
    .location.location3 {
        left: 62%;
    }
}
@media (max-width: 700px) {
    .location.location1 {
        left: 29%;
    }
    
    .location.location2 {
        left: 19%;
    }
    
    .location.location3 {
        left: 62.5%;
    }
}
@media (max-width: 650px) {
    .location.location1 {
        left: 26.8%;
    }
    
    .location.location2 {
        left: 17%;
    }
    
    .location.location3 {
        bottom: 9.5%;
        left: 64%;
    }
}
@media (max-width: 580px) {
    .location.location1 {
        top: 24.5%;
    }
    
    .location.location2 {
        top: 33%;
        left: 16%;
    }
    
    .location.location3 {
        bottom: 10%;
        left: 64.5%;
    }
}
@media (max-width: 550px) {
    .location.location1 {
        top: 26%;
    }
    
    .location.location2 {
        top: 33.5%;
        left: 15%;
    }
    
    .location.location3 {
        bottom: 12%;
    }
}
@media (max-width: 500px) {
    .location.location1 {
        top: 27%;
    }
    
    .location.location2 {
        top: 33.5%;
        left: 15.6%;
    }
    
    .location.location3 {
        bottom: 14%;
        left: 63%;
    }
}
@media (max-width: 480px) {
    .location.location1 {
        top: 28%;
    }
    
    .location.location2 {
        top: 34.5%;
    }
    
    .location.location3 {
        bottom: 15%;
    }
}
@media (max-width: 450px) {
    .location.location1 {
        top: 29%;
    }
    
    .location.location2 {
        top: 35%;
    }
    
    .location.location3 {
        bottom: 16.8%;
        left: 61.5%;
    }
}

@media (max-width: 420px) {
    .heading_wrapper {
        margin-bottom: 0;
    }

    .location.location1 {
        top: 34%;
        width: 90px;
        height: 90px;
    }

    .location.location2 {
        top: 39%;
        width: 75px;
        height: 75px;
    }

    .location.location3 {
        bottom: 17.5%;
        left: 63.5%;
        width: 75px;
        height: 75px;
    }
}

@media (max-width: 390px) {
    .heading_wrapper {
        margin-bottom: -3rem;
    }

    .location.location1 {
        top: 37%;
        width: 80px;
        height: 80px;
    }

    .location {
        &::after {
            width: 10px;
            height: 10px;
        }
    }

    .location.location2 {
        top: 42.5%;
        width: 65px;
        height: 65px;
    }

    .location.location3 {
        bottom: 18.5%;
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 350px) {
    .heading_wrapper {
        margin-bottom: -5rem;
    }

    .card_img_container {
        height: 500px;
    }

    .location.location1 {
        top: 44%;
        width: 70px;
        height: 70px;
    }

    .location.location2 {
        top: 49%;
        width: 55px;
        height: 55px;
    }

    .location.location3 {
        bottom: 14%;
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 310px) {
    .heading_wrapper {
        margin-bottom: -6rem;
    }

    .location.location1 {
        top: 44.5%;
    }

    .location.location2 {
        top: 50%;
    }

    .location.location3 {
        bottom: 15.5%;
    }
}

@media (max-width: 290px) {
    .heading_wrapper {
        margin-bottom: -7rem;
    }

    .location.location1 {
        top: 45.5%;
    }

    .location.location2 {
        top: 50.5%;
    }

    .location.location3 {
        bottom: 17%;
        left: 63%;
    }
}

@media (max-width: 260px) {
    .heading_wrapper {
        margin-bottom: -8rem;
    }

    .location.location1 {
        top: 46.5%;
    }

    .location.location2 {
        top: 51.5%;
    }

    .location.location3 {
        bottom: 18%;
        left: 62%;
    }
}

.tooltip {
    background: white !important;
    border-radius: 10px !important;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.03) !important;
    opacity: 1 !important;
    z-index: 99;
    max-width: 230px;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0 !important;
        max-width: 150px !important;
    }

    to {
        opacity: 1 !important;
        max-width: 230px !important;
    }
}

.tooltip_content {
    .title {
        color: var(--color-primary);
    }

    .descrption {
        color: var(--text-primary);
        font-size: 11px;
    }
}