:root {
  --max-width: 1250px;

  --color-primary: #005F31;
  --text-primary: #686868;
  --text-secondary: rgba(0, 0, 0, 0.59);
  /* --text-secondary: rgba(0, 0, 0, 0.44); */
  --black: #263238;
  --white: #fff;
  /* --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-feature-settings: "clig" off, "liga" off;
}

/* body {
  background: var(--background-color);
  font-family: 'inter', sans-serif;
  position: relative;
} */
.custom_container {
  width: 90%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

/* ul {
  list-style: none;
} */

.hero_btn {
  background: var(--color-primary);
  padding: 0.5rem 2.5rem;
  color: var(--white);
  border-radius: 2rem;
  font-family: var(--font-poppins);
  text-align: center;
  text-wrap: wrap;
  display: inline-block;
  transition: all 0.3s ease;
  font-weight: 500;
  border: 1px solid var(--color-primary);
}
.hero_btn:hover{
  background-color: var(--white);
  color: var(--color-primary);
}

.loader {
  width: 18px;
  height: 18px;
  border: 2.5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}