:root {
  --max-width: 80rem;

  --primary-color: #005F31;
  --text1: rgba(0, 0, 0, 0.44);
  --text2: rgba(0, 0, 0, 0.59);
  /* --secondary-text: #D9F6FF; */
  --black: #263238;
  --white: #fff;
  /* --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-feature-settings: "clig" off, "liga" off;
}

/* body {
  background: var(--background-color);
  font-family: 'inter', sans-serif;
  position: relative;
} */

@font-face {
  font-family: Poppins-Regular;
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}