.container {
    margin-top: 5rem;
    position: relative;
    overflow-y: hidden;
}

.image_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 850px;
    padding-left: 5%;
}

.column1 {
    padding-top: 8rem;
    width: 100%;
    max-width: 625px;
    margin-left: auto;

    .heading {
        text-align: left;
        margin-bottom: 1.2rem;
    }

    .description {
        color: var(--text-primary);
        max-width: 410px;
    }

    .card {
        border: 1px solid var(--color-primary);
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
        padding: 48px 20px 40px 20px;
        background: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        margin-top: 2.5rem;
        margin-bottom: 4rem;

        .small_heading {
            font-size: 1.3rem;

            >a {
                color: var(--color-primary);
            }
        }
    }

    .btn_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;

    }
}

.column2 {
    padding-top: 2rem;
    overflow: hidden;
}

.map_images {
    height: fit-content;
    margin-top: auto;
    position: relative;
}

.img_container {
    height: 100%;

    >img {
        height: auto;
    }
}

.location {
    position: absolute;
    border: 4px solid #005F31;
    border-radius: 100%;

    &::after {
        content: '';
        width: 14px;
        height: 14px;
        background: #005F31;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);
        clip-path: polygon(50% 100%, 6.7% 25%, 93.3% 25%);
    }

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
    }
}

.location.location1 {
    top: 11%;
    left: 11%;
    width: 110px;
    height: 110px;
    transition: all 0.3s ease;

    &:hover {
        scale: 1.1;
    }
}

.location.location2 {
    top: 15.3%;
    left: 3.5%;
    width: 95px;
    height: 95px;
    transition: all 0.3s ease;

    &:hover {
        scale: 1.1;
    }
}

.location.location3 {
    top: 41%;
    left: 46%;
    width: 95px;
    height: 95px;
    transition: all 0.3s ease;

    &:hover {
        scale: 1.1;
    }
}

@media (min-width: 1400px) {
    .columns {
        padding-left: 2%;
    }
}

    
    

@media (min-width: 1500px) {
    .location.location1 {
        top: 10.5%;
        left: 9.5%;
    }
    
    
    .location.location3 {
        top: 40.5%;
        left: 40.5%;
    }
}

@media (min-width: 1700px) {
    .location.location1 {
        top: 10%;
        left: 8.2%;
    }
    
    .location.location2 {
        left: 3.5%;
    }
    
    .location.location3 {
        left: 36%;
    }
}

@media (min-width: 1820px) {
    .location.location1 {
        top: 10.5%;
        left: 7.8%;
    }
    
    .location.location2 {
        left: 3%;
    }
    
    .location.location3 {
        left: 33%;
    }
}

@media (min-width: 2030px) {
    .location.location1 {
        top: 10.5%;
        left: 7%;
    }
    
    .location.location2 {
        left: 2.7%;
    }
    
    .location.location3 {
        left: 29.5%;
    }
}

@media (min-width: 2720px) {
    .location.location1 {
        top: 10%;
        left: 5%;
    }
    
    .location.location2 {
        left: 2%;
    }
    
    .location.location3 {
        top: 41%;
        left: 22%;
    }
}

@media (min-width: 4050px) {
    .location.location1 {
        top: 10.2%;
        left: 3.2%;
    }
    
    .location.location2 {
        left: 1%;
    }
    
    .location.location3 {
        left: 14.8%;
    }
}
@media (min-width: 5300px) {
    .location.location1 {
        top: 10.2%;
        left: 2.5%;
    }
    
    
    .location.location3 {
        left: 11%;
    }
}

@media (max-width: 1350px) {
    .location.location1 {
        left: 10.9%;
    }

    .location.location2 {
        top: 15.3%;
        left: 4%;
    }

    .location.location3 {
        top: 41%;
        left: 45.5%;
    }
}
@media (max-width: 1300px) {
    .location.location1 {
        top: 10.3%;
        left: 11.3%;
    }

    .location.location2 {
        top: 16%;
        left: 4.5%;
    }

    .location.location3 {
        left: 48%;
    }
}
@media (max-width: 1250px) {
    .location.location1 {
        top: 10.5%;
        left: 11.7%;
    }

    .location.location2 {
        top: 16%;
        left: 4.5%;
    }

    .location.location3 {
        left: 50%;
    }
}
@media (max-width: 1200px) {
    .location.location1 {
        left: 12%;
    }

    .location.location2 {
        top: 15.5%;
    }

    .location.location3 {
        left: 53%;
    }
}
@media (max-width: 1150px) {
    .location.location1 {
        left: 13%;
    }

    .location.location2 {
        top: 15.5%;
    }

    .location.location3 {
        left: 56%;
    }
}
@media (max-width: 1060px) {
    .location.location1 {
        left: 14%;
    }

    .location.location2 {
        top: 15.5%;
    }

    .location.location3 {
        left: 60%;
    }
}
@media (max-width: 980px) {
    .location.location1 {
        left: 15%;
    }

    .location.location2 {
        top: 16%;
        left: 5%;
    }

    .location.location3 {
        left: 65%;
    }
}
@media (max-width: 920px) {
    .location.location1 {
        left: 16%;
    }

    .location.location2 {
        top: 16%;
        left: 7%;
    }

    .location.location3 {
        left: 70%;
    }
}
@media (max-width: 850px) {
    .location.location1 {
        left: 17%;
    }

    .location.location2 {
        top: 16%;
        left: 7%;
    }

    .location.location3 {
        left: 75%;
    }
}


@media (max-width: 800px) {
    .columns {
        grid-template-columns: 1fr;
        height: fit-content;
        gap: 4rem;
    }

    .column1 {
        padding-top: 0;
        margin-left: 0;
        width: 100%;
        padding-right: 5%;
        max-width: 100%;

        .heading {
            text-align: center;
        }

        .description {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .card {
            width: 100%;
            max-width: 100%;
            margin-bottom: 3rem;
        }

        .btn_wrapper {
            max-width: 100%;
        }
    }

    .column2 {
        overflow-x: hidden;
    }

    .img_container {
        >img {
            width: 800px;
        }
    }

    .location.location1 {
        top: 11.5%;
        left: 8%;
        width: 90px;
        height: 90px;
    }

    .location.location2 {
        top: 15%;
        left: 3%;
        width: 80px;
        height: 80px;
    }

    .location.location3 {
        left: 33%;
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 730px) {
    .location.location1 {
        top: 11.5%;
        left: 9%;
    }


    .location.location3 {
        left: 36%;
    }
}

@media (max-width: 670px) {


    .location.location3 {
        left: 39%;
    }
}

@media (max-width: 640px) {
    .location.location1 {
        top: 11.5%;
        left: 10%;
    }


    .location.location3 {
        left: 41%;
    }
}

@media (max-width: 600px) {
    .column1 {
        .btn_wrapper {
            .contact_btn {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }

    .column2 {
        overflow-x: hidden;
    }

    .img_container {
        >img {
            width: 700px;
        }
    }

    .location{
        &::after {
            width: 12px;
            height: 12px;
        }
    }

    .location.location1 {
        top: 8.5%;
        left: 8%;
    }

    .location.location2 {
        top: 13%;
        left: 2.5%;
    }

    .location.location3 {
        top: 39%;
        left: 37%;
    }
}

@media (max-width: 550px) {
    .location.location1 {
        top: 8.5%;
        left: 9%;
    }

    .location.location2 {
        top: 13%;
        left: 2.5%;
    }

    .location.location3 {
        left: 41%;
    }
}

@media (max-width: 500px) {
    .location.location1 {
        left: 10%;
    }

    .location.location2 {
        top: 13.5%;
    }

    .location.location3 {
        left: 44%;
    }
}

@media (max-width: 460px) {
    .location.location1 {
        left: 11%;
    }


    .location.location3 {
        left: 48%;
    }
}
@media (max-width: 440px) {


    .location.location3 {
        left: 50%;
    }
}
@media (max-width: 420px) {


    .location.location3 {
        left: 51.5%;
    }
}

@media (max-width: 400px) {
    .column1 {
        .card {
            padding: 40px 10px 40px 10px;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;

            .small_heading {
                font-size: 1.2rem;
            }
        }
    }

    .location {
        border: 3px solid #005F31;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
        }
    }

    .location.location1 {
        top: 11.5%;
        left: 14%;
        width: 80px;
        height: 80px;
    }

    .location.location2 {
        top: 16.5%;
        left: 5.5%;
        width: 65px;
        height: 65px;
    }

    .location.location3 {
        top: 42%;
        left: 59%;
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 360px) {
    .location.location1 {
        left: 15%;
    }


    .location.location3 {
        left: 65.5%;
    }
}

@media (max-width: 330px) {
    .location.location1 {
        left: 16%;
    }

    .location.location2 {
        left: 6%;
    }

    .location.location3 {
        left: 70%;
    }

    .column1 {
        .hero_btn {
            padding: 0.5rem 1.5rem;
        }
    }
}

@media (max-width: 310px) {
    .location.location1 {
        left: 17.5%;
    }

    .location.location2 {
        left: 6.5%;
    }

    .location.location3 {
        left: 75%;
    }
}

@media (max-width: 285px) {
    .location.location1 {
        left: 18.5%;
    }

    .location.location2 {
        top: 17%;
        left: 7%;
    }

    .location.location3 {
        top: 43%;
        left: 80%;
    }
}

@media (max-width: 280px) {
    .column1 {
        .card {
            .small_heading {
                font-size: 1rem;
            }
        }
    }
}

.tooltip {
    background: white !important;
    border-radius: 10px !important;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.03) !important;
    opacity: 1 !important;
    z-index: 99;
    max-width: 230px;
}

.tooltip_content {
    .title {
        color: var(--color-primary);
    }

    .descrption {
        color: var(--text-primary);
        font-size: 11px;
    }
}