.heading {
    font-weight: 700;
    text-align: center;
    color: var(--color-primary);
    // font-family: Poppins-Regular;
    font-family: var(--font-poppins);
    @media (max-width: 400px) {
        >bg{
            display: none;
        }
    }
}
